<div class="container-fluid">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="cont-InfoContac">
                    <div class="row">
                        <div class="cont-Logo">
                            <img src="~/Recursos/img/Logo_Foot.png" />
                        </div>
                    </div>
                    <div class="row">
                        <ul class="list-data">
                            <li><i class="fas fa-briefcase icon-Info"></i>
                                <span class="text-decInfo">Oficina Administrativa</span></li>
                            <li><i class="fas fa-atlas icon-Info"></i>
                                <span class="text-decInfo">Av. Kra 9 No. 126-18 Of 704 Bogota.</span>
                            </li>
                            <li><i class="fas fa-phone-square icon-Info"></i>
                                <span class="text-decInfo">PBX: (1) 5231100</span>
                            </li>
                            <li><i class="fas fa-link icon-Info"></i>
                                <span class="text-decInfo">Visitenos en </span><a class="icon-Info" href="http://www.transer.com.co/">www.transer.com.co</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="copy text-center">&copy Transer s.a Todos los derechos reservados 
            </span>
        </div>
    </div>
</div>
