@{
    ViewBag.Title = @ViewBag.title;
    Layout = "~/Views/_Layouts/_LayoutPrincipal.cshtml";
}
<h4>Estado de cartera</h4>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                Cartera Actual
            </div>
            <div class="card-body">
                <canvas id="pieChart" width="100"></canvas>
                @* <a href="@Url.Action("Estcartera", "Facturacion")" id="a-detalFac"><i class="fas fa-file-invoice-dollar"></i>Mas detalle</a>*@
            </div>
            <div class="card-footer card-Foot-Det">
                @{Html.RenderAction("detcartera", "Facturacion");}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card" style="height: 100%;">
            <div class="card-header">
                Facturación Ultimo año
            </div>
            <div class="card-body">
                <canvas id="barCarteraUltimoaño"></canvas>
            </div>
            <div class="card-footer card-Foot-Det">
                 @{Html.RenderAction("minMax", "Facturacion");}
            </div>
        </div>
    </div>
</div>
